#Tab{
	border-collapse: collapse;
	width: 50%; /* Adjust the width as needed */
	margin: auto; /* Center the table horizontally */
	position: absolute;
	top: 80px; /* Center the table vertically */
	transform: translateY(-50%);
}


#F1{

    padding: 20px; 
    margin: 20px;
	border-radius: 40px;
	width: 400px;
	color: #FFFFFF;

	background-color:  #2F7B1F;
	box-shadow: 0 14px 28px rgba(189, 189, 189, 0.25), 
	0 10px 10px rgba(124, 124, 124, 0.22);
}
.F2{
	padding: 20px; 
    margin: 20px;
	border-radius: 40px;
	width: 600px;
	color: #FFFFFF;

	background-color:  #2F7B1F;
	box-shadow:  0 14px 28px rgba(189, 189, 189, 0.25), 
	0 10px 10px rgba(124, 124, 124, 0.22);
}
#Mapp{
	border-radius: 40px;
}
.Wid{
	width: 400px;
}
#Div5{
	width: 200px;
	padding: 6px; 
    margin: 20px;
	border-radius: 20px;
	border: 2px solid #2F7B1F;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: black;
	font-family: 'Varela Round', sans-serif;
	
	box-shadow:  0 14px 28px rgba(189, 189, 189, 0.25), 
	0 10px 10px rgba(124, 124, 124, 0.22);

}

#T1{
	width: 450px;
}
.Titre{
	color: #2F7B1F;
	font-family: 'Montserrat', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 156.25% */
letter-spacing: -1px;
}



#myDiv2{
	display: none;
	padding: 15px;
	top: -100px;
	position: relative;
	background-color: #FFFFFF;
	border-radius: 20px;	
	box-shadow:  0 14px 28px rgba(189, 189, 189, 0.25), 
			0 10px 10px rgba(124, 124, 124, 0.22);
}
.Gha{
	position: relative;
	left: 24px;
}
#His{
	color: #2F7B1F;

font-family: Nunito;
font-size: 30px;
font-style: normal;
font-weight: 800;
}
#myDiv3{
	display: none;
	padding: 15px; 
    margin: 20px;
	position: relative;
	top: 100px;
	background-color: #FFFFFF;
	border-radius: 20px;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#myDiv7{
	display: none;
	padding: 15px; 
    margin: 20px;
	position: relative;
	top: -100px;
	background-color: #FFFFFF;
	border-radius: 20px;	
	box-shadow: 0 14px 28px rgba(189, 189, 189, 0.25), 
	0 10px 10px rgba(124, 124, 124, 0.22);
}
.Div {
	display: none; /* Hide the div by default */
	
	padding: 20px;
	margin-top: 10px;
	position:relative;
	top: -200px
  }
  
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #9cf08b;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
.Logo{
	position: absolute;
	top: -40px;
	width: 70%;
}
#Log_Top{
	position: absolute;
	top: -80px;
	left: 73%;
}

button {
	border-radius: 20px;
	border: 1px solid #246317;
	background-color: #379025;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
.Green{
	color: #246317;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.checkbox-container {
	display: flex;
	align-items: center;
  }
  
  .checkbox-container input {
	margin-right: 5px;
  }
  
  .checkbox-container div {
	display: flex;
	flex-direction: column;
  }
  
  .checkbox-container span {
	font-size: 14px; /* Adjust the font size as needed */
	user-select: none; /* Prevent text selection for better styling */
  }
  
  
.container {
	background-color: #fff;
	border-radius: 30px;
  	box-shadow: 0 14px 28px rgba(189, 189, 189, 0.25), 
			0 10px 10px rgba(124, 124, 124, 0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	
	
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
	
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
	
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
	
}

.overlay {
	background: #41ff71;
	background: -webkit-linear-gradient(to right, #379025, #1a4411);
	background: linear-gradient(to right,  #379025, #1a4411);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}





@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body  {  
  background: #101827;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  text-shadow: .5px .5px 0 #CCCCCC;
  overflow: hidden;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .75s;
}


.nav2{  
  padding: 0px;
  width: 640px;
  margin: 100px auto auto auto;
  position:relative;
  top: 50px;
  left: -580px;
}

ul{  
  list-style-type: none;
}

li a{ 
  padding: 30px;
  float:left;
  width: 100px;
  text-align:center;
  font-size:15px;
  color: #edf5e1;
  text-decoration:none;
}

li a:hover .circle {
  position: relative;
  z-index: 1;
  top: -60px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  animation: illuminate 2s ease-out infinite;
  background: #fdc6be;
}

li i{
  height: 50px;
}

li a:hover i {
  transform: translateY(-10px);
}

li a .title{
  font-size:0px;
}

li a:hover .title {
  transform: translateY(10px);
  font-size: 15px;
  transition: .5s;
}
       
li a.title:hover{
  transform: translateY(-10px);
}

.nav2 li:first-child a {  
  background:#379683 !important;
}

.nav2 li:nth-child(2) a {  
  background:#5cdb95 !important;
}

.nav2 li:nth-child(3) a {  
  background:#8ee4af !important;
}


.nav2 li:first-child:hover ~ .background {
  background: #379683;
}
.nav2 li:nth-child(2):hover ~ .background {
  background: #5cdb95;
}
.nav2 li:nth-child(3):hover ~ .background {
  background: #8ee4af;
}


@keyframes illuminate {
  0% {
    transform: scale(.7, .7);
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  100%{
    transform: scale(1.15);
    opacity: 0;
  }
}
